/* Slot.css */
form{
    background-color: #fff;
    background-image: url('loginbg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.slot-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 5px 0;
}
